body {
  --flag-border-color: #333333;
  --item-background-color: #d9d9f0;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.main {
  margin: auto;
  max-width: 960px;
  display: flex;
  flex: 1 0 auto;
  padding: 0.5rem;
}

.canvas {
  position: relative;
  flex: 0 0 auto;
}

@media (orientation: portrait) {
  .main {
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
  }
  .canvas {
    margin: auto auto 0.5rem auto;
  }
}

@media (orientation: landscape) {
  .main {
    flex-flow: row-reverse nowrap;
    width: 100%;
  }
  .canvas {
    align-self: flex-start;
    max-width: 50%;
    margin-left: 0.5rem;
    position: sticky;
    top: 0.5rem;
  }
}

.hint {
  display: inline;
  background: #ffffff;
  border: 1px solid #999999;
  margin: 0px;
  padding: 3em;
  opacity: 0.8;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  pointer-events: none;
  text-align: center;
}

.query {
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: contain;
  max-width: 100%;
  max-height: 60vh;
}

.results {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
}

.items {
  padding: 0px;
  width: 100%;
}

.item-card {
  margin: 0px 0px 0.5rem 0px;
}

.item {
  display: flex;
  flex-flow: row nowrap;
}

.item .flag {
  flex: 0 0 auto;
  width: 40%;
  text-align: center;
}

.flag img {
  border: 1px solid var(--flag-border-color);
  max-width: 100%;
  max-height: 8rem;
  width: auto;
  height: auto;
  
}
.flag img[data-a2="NP"] {
  border: 0px none transparent;
}

.item .info {
  flex: 1 1 auto;
  margin-left: 1rem;
  width: calc(60% - 1rem);
  display: flex;
  flex-flow: column nowrap;
}

.item .info .name {
  margin: 0px;
  font-size: 1.5rem;
  flex: 0 0 auto;
}

.item .info .iso-info {
  flex: 1 1 auto;
}

.item .info .progress-bar {
  flex: 0 0 auto;
}

.loading {
  width: 90%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.results-enter .loading {
  opacity: 1;
}
.results-enter-active .loading {
  opacity: 0;
  transition: opacity 100ms;
}
.results-enter-done .loading {
  display: none;
}

.loading .progress-bar {
  transition: width 0s ease;
}

.results-enter .items {
  opacity: 0;
}
.results-enter-active .items {
  opacity: 1;
  transition: opacity 100ms;
}
.results-enter-done .items {
  opacity: 1;
}

.pp {
  border: 1px solid #333333;
  padding: 0.5rem;
  height: 10rem;
  overflow-y: scroll;
}

.pp h6 {
  margin-top: 0.8rem;
}

.pp p {
  font-size: 0.8rem;
  margin: 0px;
}